<div class="left side-menu">

    <div class="slimscroll-menu" id="remove-scroll">

        <div class="logo">
            <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/logo.png" alt="{{ $.Title }}" class="logo"></a>
            <p class="text-muted">An Agile Coach helping Leaders to weave Agility into the structure of their organisation so that they can thrive within the complex business environment.</p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">

                {{ range .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                    </li>
                {{ end }}

            </ul>

            <a class="twitter-timeline" data-tweet-limit="5" data-chrome="transparent" href="https://x.com/sadesoga?ref_src=twsrc%5Etfw">Tweets by sadesoga</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <div class="copyright-box">
                <p>2018 © Samuel Adesoga. </p>
            </div>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>