<div class="page-title">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <h2><span>{{ .Title }}</span></h2>

            <p class="subtitle text-muted">Apart from Technical Topics, increasingly i find myself wanting to write about other topics that interests me - Entreprenuership and Business, Leadership, Africa, Service Industry (e.g Hotels, Restaurant). My writings would always represent my opinions and it might change from time to time.</p>
        </div>
    </div>
</div>