<div class="sidebar">
    <!-- Search widget-->
    <aside class="widget widget_search">
        <form>
            <input id="search-input" class="form-control pr-5" type="search" placeholder="Search...">
            <button class="search-button" type="submit"><span class="mdi mdi-magnify"></span></button>
        </form>
    </aside>

    <aside class="widget about-widget">
        <div class="widget-title">About Me</div>

        <div class="text-center">
            <img src="{{ .Site.BaseURL }}images/photo.jpg" alt="About Me" class="rounded-circle">

            <p>Managing Consultant at <a target="_blank" href="https://www.valuehut.co">ValueHut Consulting</a>, an agile Management consultancy, helping organisations adopt alternative practices for building better products. Sam has a lot of experience supporting Leaders and their Teams on Enterprise Agility with an overaching goal; helping organisations develop capabilities that is required to stay ahead of competition.</p>
        </div>

    </aside>
        <aside class="widget about-widget">
        <div class="widget-title">Subscribe & Follow</div>

        <ul class="socials">
            <li><a href="{{ .Site.Params.social.facebook }}"><i class="mdi mdi-facebook"></i></a></li>
            <li><a href="{{ .Site.Params.social.twitter }}"><i class="mdi mdi-twitter"></i></a></li>
            <li><a href="{{ .Site.Params.social.instagram }}"><i class="mdi mdi-instagram"></i></a></li>
            <li><a href="{{ .Site.Params.social.linkedin }}"><i class="mdi mdi-linkedin"></i></a></li>
            <li><a href="{{ .Site.Params.social.github }}"><i class="mdi mdi-github-circle"></i></a></li>
        </ul>

    </aside>

    <!-- Categories widget-->
    <aside class="widget widget_categories">
        <div class="widget-title">Categories</div>
        <ul>
            {{ range $name, $items := .Site.Taxonomies.categories }}
                <li><a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}">{{ humanize $name }} &nbsp;<span>({{ len $items }})</span></a></li>
            {{ end }}
        </ul>
    </aside>

    <!-- Recent entries widget-->
    <aside class="widget widget_recent_entries_custom">
        <div class="widget-title">Popular Posts</div>
        <ul>
            {{ range shuffle (where .Data.Pages "Section" "posts")  | first 3 }}
                <li class="clearfix">
                    <div class="wi">
                        {{ if and (isset .Params "image") .Params.image }}                         
                            <a href="#"><img src="{{ .Site.BaseURL  }}{{ .Params.image }}" alt="{{ .Title }}" class="img-fluid"></a>
                        {{ end }}
                    </div>
                    <div class="wb"><a href="{{.Permalink}}">{{ .Title }}</a> <span class="post-date"> {{ .Date.Format "January 2, 2006" }}</span></div>
                </li>
            {{ end }}
        </ul>
    </aside>

    <!-- Archives widget-->
    <aside class="widget widget_archive">
        <div class="widget-title">Archives</div>
        <ul>
            {{ range (where .Site.RegularPages "Section" "posts").GroupByDate "2006" }}
            <li>
                <strong>{{ .Key }}</strong>
                <ul>
                    {{ range .Pages.GroupByDate "January 2006" }}
                    <li>
                        {{ .Key }} ({{ len .Pages }})
                        <ul>
                            {{ range .Pages }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        </ul>
    </aside>

    <!-- Tags widget-->
    <aside class="widget widget_tag_cloud">
        <div class="widget-title">Tags</div>
        <div class="tagcloud">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                <a href="/tags/{{ $name | urlize }}">{{ $name }}</a>
            {{ end }}
        </div>
    </aside>
</div>