{{ define "main" }}
	<div class="col-xl-8">
	    {{ range .Data.Pages }}
		    <article class="post">

		        <div class="post-header">
		            <h2 class="post-title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
		            <ul class="post-meta">
		                <li><i class="mdi mdi-calendar"></i> {{ .Date.Format "January 2, 2006" }}</li>
		                <li><i class="mdi mdi-tag-text-outline"></i>
					        {{ with .Params.tags }}
						      {{ range . }}
						        <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ humanize . }}</a>,
						      {{ end }}
				            {{ end }} 
		                </li>
		                <li><i class="mdi mdi-comment-multiple-outline"></i> <a href="#">3 Comments</a></li>
		            </ul>
		        </div>

		        <div class="post-preview">
		            <a href="#"><img src="images/blog/blog-1.jpg" alt="" class="img-fluid rounded"></a>
		        </div>

		        <div class="post-content">
		            <p>Whether an identity or campaign, we make your brand visible, relevant and effective by placing the digital at the center of its ecosystem, without underestimating the power of traditional media. Whether an identity or campaign, we make your brand visible.</p>
		        </div>

		        <div><a href="{{.Permalink}}" class="btn btn-outline-custom">Read More <i class="mdi mdi-arrow-right"></i></a></div>

		    </article>

	    {{ end }}

	    <!-- Pagination-->
	    <div class="row">
	        <div class="col-lg-12">
	            <ul class="pagination">
	                <li class="next"><a href="#"><i class="mdi mdi-chevron-left"></i></a></li>
	                <li class="active"><a href="#">1</a></li>
	                <li><a href="#">2</a></li>
	                <li><a href="#">3</a></li>
	                <li><a href="#">4</a></li>
	                <li><a href="#">5</a></li>
	                <li class="prev"><a href="#"><i class="mdi mdi-chevron-right"></i></a></li>
	            </ul>
	        </div>
	    </div>
	    <!-- Pagination end-->
	</div>
    <!-- Sidebar-->
    <div class="col-xl-4">
        {{ partial  "right-side-components.html" . }}
    </div>
    <!-- Sidebar end-->
{{ end }}