{{ define "main" }}
    <section class="pt-5">
        <div class="container">

            <div class="row">
                <!-- Content-->
                <div class="col-12">

                    <!-- Post-->
                    <article class="post">

                        <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>{{ .Title}}</b></h5>
                        <div class="post-preview">
                            <img src="{{ .Site.BaseURL }}images/blog/sam.jpg" alt="" class="img-fluid rounded">
                        </div>

                        <div class="blog-detail-description">
                            {{ .Content }}

                            <blockquote class="blockquote text-center">
                                <h6 class="mb-0 blockquote-text">Many of the challenges that we face are complex adaptive problems, meaning that by trying to solve these problems, we change the nature of these problems. </h6>
                                <footer class="blockquote-footer mt-2">Simon Powers
                               </footer>
                            </blockquote>


                            <ul class="socials list-unstyled mb-0 text-center mt-5">
                                <li><a href="{{ .Site.Params.social.facebook }}"><i class="mdi mdi-facebook"></i></a></li>
                                <li><a href="{{ .Site.Params.social.twitter }}"><i class="mdi mdi-twitter"></i></a></li>
                                <li><a href="{{ .Site.Params.social.instagram }}"><i class="mdi mdi-instagram"></i></a></li>
                                <li><a href="{{ .Site.Params.social.linkedin }}"><i class="mdi mdi-linkedin"></i></a></li>
                                <li><a href="{{ .Site.Params.social.github }}"><i class="mdi mdi-github-circle"></i></a></li>
                            </ul>

                        </div>

                    </article>
                    <!-- Post end-->

                </div>
                <!-- Content end-->

            </div>

        </div>
        <!-- end container -->
    </section>
{{ end }}